.sidebar {
  /* width: 250px; */
  min-width: 250px;
  padding: 20px 20px;
  margin: 20px auto 0 auto;
  position: fixed;
}

@media (max-width: 991px) {
  .sidebar {
    min-width: auto;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 575px) {
  .sidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: static;
    min-width: auto;
  }
}
